* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.topnav {
    background-color: #2D303A;
    align-items: center;
    display: flex;
}
.logo {
    display: inline-block;
    margin: 31px 455px 36px 0px ;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
span {
    color: #F06C64;
}
nav {
    display: inline-block;
}
nav ul {
    display: flex;
    flex-direction: row;
}
ul {
    justify-content: space-between;
    width: 371px;
}
nav li {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
}
a:hover {
    color:#f06c64;
}
a {
    color: #ffffff;
    text-decoration: none;
}
nav li+li:before {
    padding: 8px;
    color: #494E62;
    content: "•";
}
.slider {
    position: relative;
    padding-top: 53px;
    padding-bottom: 89px;
    padding-left: 73px;
    background: #F06C64;
    height: 600px;
    border-bottom: 6px solid #ff6666;
}
.slider-btn.left {
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 0%;
}
.slider-btn.right {
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 98%;
}
.phone_horizontal {
    margin-left: 72px;
}
.slider_contents {
    display: flex;
    align-items: center;
}
.services {
    padding-top: 55px;
    background-color: #f2f2f2;
}
h1 {
    margin-bottom: 24px;
    font-family: 'Lato Black', sans-serif;
    font-size: 30px;
    color: #666d89;
}
.services_text {
    font-family: 'Lato Light', sans-serif;
    font-size: 18px;
    color:#666699;
    margin-top: 16px;
    line-height: 29px;
    letter-spacing: -0.05px;
    text-align: justify;
}    
.services_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 30px;
}
.services_item {
    display: flex;
    margin-bottom: 41.5px;
}
.item_image {
    width: 62px;
    height: 62px;
    display: inline-block;
}
.item_description {
    width: 220px;
    height: 85px;
    margin-left: 19px;
    margin-top: -4px;
}
.item_title {
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    color:#666699;
}
.item_text {
    height: 60px;
    /* overflow: hidden; */
    margin-top: 7px;
    font-size: 12px;
    font-family: 'Lato Regular', Verdana;
    line-height: 21.8px;
    text-align: justify;
    color:#666699;
}